@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* * {
  margin: 0 auto;
} */
html, body {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Arial', sans-serif;
}

.container {
  min-height: 100%;
  background-color: #fff;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    ". header search-line userbar ."
    ". main main main sidebar"
    "footer footer footer footer footer";
  grid-template-rows: 80px 1fr 40px;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  align-items: center;
  grid-gap: 10px;
  height: 100vh;
}

body {
  background-color: #fff;
}

header {
  grid-area: header;
  text-align: left;
  background-color: #fff;
  height: 50px;
}

.logo-line {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-height: 50px;
  box-sizing: border-box;
}

main {
  grid-area: main;
  background-color: #fafafa;
  width: 100%;
  height: auto;

  box-sizing: border-box;
  text-align: center;

  align-self: flex-start;
}

footer {
  grid-area: footer;
  background-color: #ff0000;
  height: 40px;
  width: 100%;
}

p, time, address{
  color: grey;
  font-size: 0.7rem;
}

#videoWrapper {
  max-width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

}

.item {
  height: 330px;
  max-width: 200px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 5px 5px;
  border: 2px solid white;
  border-radius: 8px;
  margin: 10px auto;
}

.item:hover {
  border: 2px solid #ff9999;
}

.item time, address {
  background-position: 0px 5px;
  background-repeat: no-repeat;
  padding: 5px 10px 0 25px;
  margin: 5px auto;
  display: block;
}

.item time {
  background-image: url(../icon/watch.png);
  background-size: 18px;
  height: 20px;
}
.item address {
  background-image: url(../icon/author.png);
  background-size: 18px;
  height: 25px;
}

nav li {
  display: inline-block;
  padding: 5px 5px;
  margin: 0 5px;

  background-color: red;
  border-radius: 50%;

  height: 20px;
  width: 20px;
  text-align: center;
}

nav li a {
  text-decoration: none;
}

#video {
  margin: 0px auto;
}

.logo {
  height: 40px;
  width: auto;
  zoom: 4;
}

.thumb {
  height: 120px;
  border-radius: 8px;
}

.details {
  padding: 0 5px;

}

.search-line form {
  display: flex;
  flex-direction: row;
}

.search-line {
  margin: 0 5px;
  grid-area: search-line;
}

.submit-button {
  display: none;
  max-width: 55px;
  margin-left: -55px;
}

.search-settings {
  margin: 0 10px;
  position: fixed;
  float: right;
  right: -280px;
  top: 90px;
  width: 238px;
  background-color: #fafafa;
  padding: 0 10px;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #fff;
}

.search-settings h2 {
  margin: 5px auto;
}

.search {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwHpO_pLCrNzQz5xZ03w89uIzMwqFC-2iSXVdbLpX9S-7y12DAnw');
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: 1px 25%;
  padding: 0 10px 0 44px;
  height: 40px;
  width: 100%;
  border: 1px #ccc solid;
  border-radius: 3px;
  box-sizing: border-box;
  outline: 0;
  font-size: 14px;
}

.range-results input {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
}

.range-results label {
  margin: 0 10px;
  width: 30px;
  border: 1px #9bdd88 solid;
  border-radius: 10%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: 25px;
}

.type-search li {
  list-style-type: none;
}

.type-search input, label {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
}

.user-bar {
  grid-area: userbar;
}

.b-options-search {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px #ccc solid;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  outline: none;
}

.b-options-search img {
  transition: 2s;
  max-width: 95%;
  vertical-align: middle;
  opacity: 0.5;
}
